[submodule "sw/SoC/lib/tinyio"]
	path = sw/SoC/lib/tinyio
	url = https://github.com/Granp4sso/TinyIO-library-for-printf-and-scanf-.git
[submodule "sw/SoC/projects/freertos/FreeRTOS-Kernel"]
	path = sw/SoC/projects/freertos/FreeRTOS-Kernel
	url = https://github.com/FreeRTOS/FreeRTOS-Kernel
[submodule "sw/SoC/projects/opensbi/opensbi"]
	path = sw/SoC/projects/opensbi/opensbi
	url = https://github.com/riscv-software-src/opensbi
[submodule "hw/deps/axi"]
	path = hw/deps/axi
	url = https://github.com/pulp-platform/axi.git
[submodule "hw/deps/common_cells"]
	path = hw/deps/common_cells
	url = https://github.com/pulp-platform/common_cells.git
[submodule "hw/deps/tech_cells_generic"]
	path = hw/deps/tech_cells_generic
	url = https://github.com/pulp-platform/tech_cells_generic.git
